*,
*:before,
*:after {
  box-sizing: border-box;
}

.grid {
  display: grid;
}

#sketch-grid {
  border: 5px solid rebeccapurple;
  width: 810px;
  height: 810px;
}

.cell {
  background-color: white;
  user-select: none;
}

.black {
  background-color: black;
}